{% extends 'base.html' %} {% block body %}
<div class="container p-md-5 pt-5 ">
    <div class="border-0">
        <div class="container col-sm-6 col-md-8 p-md-5 pt-5">
            <p class="h1">
                {% if user.is_authenticated %} Change {%else%} Forgot {%endif%}
                <span class="bg-warning text-white rounded font-weight-bold">Password</span>
            </p>
            <div id="forgot_content">
                <div class="mt-5 small">
                    <div class="md-form">
                        <input class="form-control" id="forgot_username" name="forgot_username" type="text" required/>
                        <label for="login_signup" class="text-center">Username</label>
                        <small class="text-danger" id="err_forgot_username"></small>
                    </div>
                </div>

                <div class="mt-5 small">
                    <div class="md-form">
                        <input class="form-control" id="forgot_email" name="forgot_email" type="email" required/>
                        <label for="forgot_email" class="text-center">Email</label>
                        <small class="text-danger" id="err_forgot_email"></small>
                    </div>
                </div>
                <div id="loading" class="container text-center">

                </div>
                <div class="mt-5">
                    <button id="checkUser" type="submit" class="btn-rounded btn btn-outline-warning btn-block my-4 waves-effect">Check User</button>
                </div>
            </div>

            <p id="res" class="alert text-center font-weight-bold">

            </p>



        </div>
    </div>
</div>
<script>
    var username;
    var email;

    function wait(ms) {
        var start = new Date().getTime();
        var end = start;
        while (end < start + ms) {
            end = new Date().getTime();
        }
    }
    document.getElementById("checkUser").addEventListener('click', (e) => {
        e.target.setAttribute('disabled', 'disabled');
        document.getElementById('loading').innerHTML = `
            <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-secondary" role="status">
            <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-success" role="status">
            <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-danger" role="status">
            <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-warning" role="status">
            <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-info" role="status">
            <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-light" role="status">
            <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-dark" role="status">
            <span class="sr-only">Loading...</span>
            </div>
        `;

        const sendData = {
            username: document.getElementById('forgot_username'),
            email: document.getElementById('forgot_email'),
            result: document.getElementById('res')
        };

        if (sendData.username.value == "" || sendData.email.value == "") {
            e.target.removeAttribute('disabled');
            document.getElementById('loading').innerHTML = '';
            sendData.result.innerHTML = 'Username and Email must be required';
            sendData.result.classList.remove('alert-danger', 'alert-success');
            sendData.result.classList.add('alert-warning');
        } else {

            const replay = new XMLHttpRequest();

            replay.onload = function() {
                let responseValue = null;

                try {
                    responseValue = JSON.parse(replay.responseText);
                } catch (e) {
                    console.log("Could not parse json");
                }
                if (responseValue) {
                    wait(1000);
                    e.target.removeAttribute('disabled');
                    document.getElementById('loading').innerHTML = '';
                    if (responseValue.valid) {
                        sendData.username.value = "";
                        sendData.email.value = "";
                        sendData.result.innerHTML = responseValue.msg;
                        sendData.result.classList.remove('alert-danger', 'alert-warning', 'alert-success');

                        document.getElementById('forgot_content').innerHTML = `
                            <div class="mt-5 small">
                                <div class="md-form">
                                    <input class="form-control" id="forgot_new_password" name="forgot_new_password" onkeyup="passwordValid(this)" type="password" required/>
                                    <label for="forgot_new_password" class="text-center">New Password</label>
                                    <small class="text-danger" id="err_forgot_new_password"></small>
                                </div>
                            </div>

                            <div class="mt-5 small">
                                <div class="md-form">
                                    <input class="form-control" id="forgot_new_cpassword" name="forgot_new_cpassword" onkeyup="cpasswordValid(this)" type="password" required/>
                                    <label for="forgot_new_cpassword" class="text-center">Confirm Password</label>
                                    <small class="text-danger" id="err_forgot_new_cpassword"></small>
                                </div>
                            </div>
                            <div id="loading" class="container text-center">

                            </div>
                            <div class="mt-5">
                                <button id="checkPassword" disabled type="submit" onclick="checkPassword(this)" class="btn-rounded btn btn-outline-warning btn-block my-4 waves-effect">Change Password</button>
                            </div>
                        `;

                        email = responseValue.email;
                        username = responseValue.username;
                    } else {
                        wait(1000);
                        if (responseValue.msg == "Username is Incorrect") {
                            sendData.username.value = "";
                            sendData.email.value = "";
                            sendData.result.classList.add('alert-danger');
                            sendData.result.classList.remove('alert-success', 'alert-warning');
                            sendData.result.innerHTML = responseValue.msg;
                        } else {
                            sendData.email.value = "";
                            sendData.result.classList.add('alert-danger');
                            sendData.result.classList.remove('alert-success', 'alert-warning');
                            sendData.result.innerHTML = responseValue.msg;
                        }
                    }


                }
            };
            let body = new FormData();
            body.append('usrExists', JSON.stringify(1));
            body.append('username', JSON.stringify(sendData.username.value));
            body.append('email', JSON.stringify(sendData.email.value));

            replay.open("POST", "{% url 'forgot_password' %}");
            replay.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            replay.send(body);
        }
    });

    function passwordValid(e) {
        var password = e;
        var len = password.value.length;
        if (password.value == '') {
            password.classList.remove('is-invalid', 'is-valid');
            document.getElementById('err_forgot_new_password').innerHTML = 'Password is required';
        } else if (len < 4) {
            password.classList.add('is-invalid');
            document.getElementById('err_forgot_new_password').innerHTML = 'Password Must be 4 or more characters';
        } else {
            password.classList.remove('is-invalid');
            document.getElementById('err_forgot_new_password').innerHTML = '';
        }
        hasValid();
    }

    function cpasswordValid(e) {
        var cpassword = e;
        var password = document.getElementById('forgot_new_password');
        var passwordString = password.value;
        var cpasswordString = cpassword.value;

        const len = cpassword.value.length;
        if (cpasswordString == '' || passwordString == '') {
            cpassword.classList.remove('is-invalid', 'is-valid');
            document.getElementById('err_forgot_new_cpassword').innerHTML = 'Confirm Password is required';
        } else if (passwordString.slice(0, len) === cpasswordString) {
            cpassword.classList.remove('is-invalid');
            cpassword.classList.add('is-valid');
            if (len == password.value.length) {
                if (len < 3) {
                    cpassword.classList.remove('is-valid');
                    cpassword.classList.add('is-invalid');
                    document.getElementById('err_forgot_new_cpassword').innerHTML = 'Password Must be more than 4 character';
                } else {
                    password.classList.add('is-valid');
                    document.getElementById('err_forgot_new_cpassword').innerHTML = '';
                }
            } else {
                password.classList.remove('is-valid');
                document.getElementById('err_forgot_new_cpassword').innerHTML = '';
            }
        } else {
            cpassword.classList.remove('is-valid');
            cpassword.classList.add('is-invalid');
            document.getElementById('err_forgot_new_cpassword').innerHTML = 'Confirm Password is not match with Password';
        }
        hasValid();

    }

    function hasValid() {
        data = {
            password: document.getElementById('forgot_new_password').classList.contains('is-valid'),
            cpassword: document.getElementById('forgot_new_cpassword').classList.contains('is-valid'),
            submit: document.getElementById('checkPassword')
        }
        var valid = false;
        if (data.password && data.cpassword) {
            valid = true;
        }
        if (valid) {
            data.submit.removeAttribute('disabled');
            data.submit.classList.remove('disabled', 'btn-outline-warning');
            data.submit.classList.add('btn-outline-success');
        } else {
            data.submit.setAttribute('disabled', 'disabled');
            data.submit.classList.add('disabled', 'btn-outline-warning');
            data.submit.classList.remove('btn-outline-success');
        }
    }


    function checkPassword(e) {
        e.setAttribute('disabled', 'disabled');
        document.getElementById('loading').innerHTML = `
            <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-secondary" role="status">
            <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-success" role="status">
            <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-danger" role="status">
            <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-warning" role="status">
            <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-info" role="status">
            <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-light" role="status">
            <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-dark" role="status">
            <span class="sr-only">Loading...</span>
            </div>
        `;
        const replay = new XMLHttpRequest();
        const sendData = {
            password: document.getElementById('forgot_new_password'),
            cpassword: document.getElementById('forgot_new_cpassword'),
            result: document.getElementById('res')
        };
        replay.onload = function() {
            let responseValue = null;

            try {
                responseValue = JSON.parse(replay.responseText);
            } catch (e) {
                console.log("Could not parse json");
            }
            if (responseValue) {
                if (responseValue.valid) {
                    sendData.password.value = '';
                    sendData.cpassword.value = '';
                    sendData.result.classList.add('alert-success');
                    sendData.result.classList.remove('alert-danger');
                    sendData.result.innerHTML = responseValue.msg;
                    var timeleft = 5;
                    var dt = setInterval(function() {
                        if (timeleft <= 0) {
                            clearInterval(dt);
                        } else {
                            sendData.result.innerHTML = responseValue.msg + '<br>Redirect in ' + timeleft;
                        }
                        timeleft -= 1;
                    }, 1000);
                    setTimeout(function() {
                        window.location = '/'
                    }, 5000);
                } else {
                    document.getElementById('loading').innerHTML = '';
                    sendData.result.classList.add('alert-danger');
                    sendData.result.classList.remove('alert-success');
                    sendData.result.innerHTML = responseValue.msg;
                }
                console.log(responseValue);
            }
        };
        let body = new FormData();

        body.append('usrExists', JSON.stringify(0));
        body.append('username', JSON.stringify(username));
        body.append('email', JSON.stringify(email));
        body.append('password', JSON.stringify(sendData.password.value));
        body.append('cpassword', JSON.stringify(sendData.cpassword.value));

        replay.open("POST", "{% url 'forgot_password' %}");
        replay.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
        replay.send(body);
    }
</script>
{% endblock %}